@import '~antd/dist/antd.css';
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body,
html {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

div {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

div::after {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

div::before {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
